$liner_blackish_color:linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67));
$white_color:#ffff;
$pink_color:#a80038;
$blue_green_mix:#1e6262;
$orange_color:#f96d00;
$sky_color:#22b2da;
$font:'Lateef', cursive;
$font1:'Bungee Inline', cursive;
$font2:Segoe UI;
$font3:'Gelasio', serif;
$font4:'Monofett', cursive;